<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go-Checkup</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="wrapper">
      <h1 class="header">GO-CHECKUP</h1>
      <p class="headerText">Disease Diagnosis</p>
      
        <div class="inputWrapper">
          <label for="disease">Jenis Penyakit</label>
          <input type="text" value="<%= disease.name %>" readonly />
        </div>
        <div class="inputWrapper">
          <label for="description">Penjelasan</label>
          <textarea rows="3" style="resize: none" readonly><%= disease.description %></textarea>
        </div>
        <div class="inputWrapper">
          <label for="level">Level Penyakit</label>
          <input type="text" value="<%= disease.level %>" readonly />
        </div>
        <form method="post" action="/goCheckUp">
          <input type="hidden" name="DiseaseId" value="<%= disease.id%>">
          <input type="submit" value="Go-Checkup">
      </form>
    </div>
  </body>
</html>
